RealmID = 1
DataDir = "."
LoginDatabaseInfo = "127.0.0.1;3306;mangos;mangos;tbcrealmd"
WorldDatabaseInfo = "127.0.0.1;3306;mangos;mangos;tbcmangos"
CharacterDatabaseInfo = "127.0.0.1;3306;mangos;mangos;tbccharacters"
LogsDatabaseInfo = "127.0.0.1;3306;mangos;mangos;tbclogs"
WorldServerPort = 8085
BindIP = "0.0.0.0"
PlayerLimit = 100
PlayerSave.Interval = 900000
MaxOverspeedPings = 2
ListenRange.Say = 25
ListenRange.Yell = 300
Motd = "Welcome to the 8606 rebuild."
Ra.Enable = 0
SOAP.Enabled = 0
Console.Enable = 1
Network.TcpNodelay = 1
vmap.enableLOS = 1
mmap.enabled = 1
Compression = 1
GM.LowerSecurity = 1
InstantLogout = 3
Death.SicknessLevel = 11
MaxHonorPoints = 75000
